[flake8]
exclude =
    *.ipynb_checkpoints,
    __pycache__,
    .eggs,
    docs,
    scripts,
    TPL

# While a max length of 79 is encouraged, sometimes going over makes more sense
# for overall clarity.
max-line-length = 120

# Some file-global ignores:
# - Allow certain files to export sub-package contents via unused imports.
per-file-ignores =
    */__init__.py:F401
    */_plugins.py:F401
    python/smqtk/algorithms/object_detection/_defaults.py:F401
