coverage
flask
flask-login
mock
nose
numpy
Pillow
pymongo
requests
scikit-learn
scipy

# Not explicitly used any more, but from original requirements.txt
#gevent

# Recommended for extended console use
ipython
