# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/

# Core deps
Flask==0.12.3
Flask-BasicAuth==0.2.0
Flask-login==0.4.1
Flask-Cors==3.0.6
imageio==2.3.0
jinja2==2.10
matplotlib==2.2.3
numpy==1.15.3
Pillow==5.3.0
pymongo==3.7.2
requests==2.20.0
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0

# Testing deps
coverage==4.5.1
mock==2.0.0
pytest==3.9.3
pytest-cov==2.6.0
