li(role="presentation")
  a.smqtk-process-images(role="menuitem")
    i.icon-doc
    | Process Images
li(role="presentation")
  a.smqtk-view-as-gallery(role="menuitem")
    i.icon-doc
    | View as Gallery
