{% extends "base.html" %}

{% block head_scripts %}
<script src="/js/vcd.clip.results.js" type="text/javascript"></script>

<script>
// Initialize
$(document).ready(function() {

    var session = "{{session}}";
    var state = "{{state}}";
    var col;
    // Show the busy
    var res = new VCDClipResults($("#event_results"));
    res.ShowBusy(true, "Please wait while archive is being searched");
    // Start by initiating hte

    var poll = function(querystr) {
        var request = $.ajax({
          url: "/iqr/archive_search_results",
          type: "GET",
          data: {query : querystr,
            },
          dataType: "json"
        });

        request.done(function( msg ) {
            if ( msg.clips.length > 10) {
                // Stop polling get results
                res.url = "/iqr/archive_search_results";
                res.InitGrid();
                res.Submit(col);
            }
            else {
                setTimeout(function() {poll(querystr);} , 1000);
            }
        });

        request.fail(function( jqXHR, textStatus ) {
          alert( "Request failed: " + textStatus );
        });
    };

    var that = this;
    var request = $.ajax({
      url: "/iqr/archive_search",
      type: "GET",
      data: {session : session,
             state : state,
        },
      dataType: "json"
    });

    request.done(function( msg ) {
        col = msg.collection
        console.log(msg.collection);
        poll(col);
        // Setup the polling
    });

    request.fail(function( jqXHR, textStatus ) {
      alert( "Request failed: " + textStatus );
    });
});

</script>

{% endblock head_scripts %}
});


{% block body_content %}    

<div class="row-fluid">
    <h1> Search Results for </h1>
    <ul>
        <li> Session : {{session}}</li>
        <li> State : {{state}} </li>
    </ul>
</div>
<div id="event_results" class="row-fluid" style="text-align: center;"> </div>

{% endblock %}