{% extends "base.html" %}
{% set active_page = "help" %}


{% set help =
[
    { "name" : "triage", "label" : "Event triage user guide", "topics" :
        [
            [6,
            ["Event triage page is accessible from home page, and also there is a link on the menu bar"]
            ],

            [28,
            ["On the Event Triage page, you will see two drop-down menus and a button to start triage.",
            "You can select an event type using the left drop-down menu, and choose a training condition from the right drop-down menu.",]
            ],

            [38,
            ["Event Triage for each video is conducted by clicking one of the three markers for each video: positive, negative, and uncertain by clicking a star marker.",
            "The markers appear when you hover the mouse over the clip preview",
            "You can also revisit a previously adjudicated video and change your adjudication.",
            "The most efficient way to look at the video contents is through a video sprite, which will play when you put your mouse over each thumbnail."]
            ],

            [104,
            ["If you need more information to make a decision for some videos, please click a video, then a new tab will open.",
            "Here, you can navigate the video by controlling time bar, or checking strong evidence by clicking an evidence type."]
            ],

            [123,
            ["Once you make a decision about the video, please make your adjudication and close the tab to go back to the original Event triage page."]
            ],

            [133,
            ["Please use load more button to continue making more adjudications."]
            ],
        ]
    },
    { "name" : "iqr", "label" : "Iterative query refinement user guide", "topics" :
        [
            [ 9,
            ["You can select the Iterative Query Generation task by clicking the Iterative Query Generation Explore button at the main screen."]
            ],

            [35,
            ["For iterative query generation, you need queries to find seed samples from the archive.",
            "Our system provides an automatic build-query function based on event description.",
            "You can paste TRECVID official event description or its part to get started",
            "For example: \"A stuck vehicle is one that either cannot move, or can only move in a limited area (e.g. a parking space). Usually movement is restricted either because the vehicle is located on/in a substance that prevents the wheels of the vehicle\" ... ",
            "When click the submit button, you will be able to see related queries are suggested by the query box."]
            ],

            [54,
            ["Next, search seed samples by clicking the search button.",
            "Please wait until the system returns with the top scoring results",
            "You can mark a sample is related, not related, or uncertain. The markers appear by hovering mouse over preview.",
            "You can efficiently scan contents in a video is looking at thumbnail preview, by overlaying the cursor on a video."]
            ],

            [200,
            ["If you need detailed information or full preview, please click a video, then a new tab will open.",
            "Here, you can navigate a video by using the time bar, or checking strong evidence by clicking an evidence type.",
            "Once you are done with the video, please mark your adjudication and go back to the main Iterative Query Generation tab by closing this tab"]
            ],

            [96,
            ["When at least one video is marked as related \"refine\" button can be used to refine search results.",
            "The performance of training depends on user marking, marking few (4-5) videos as related and some as negative is recommended for each iteration of refinement.",
            "Refinement is expected to take about 10 seconds."]
            ],

            [131,
            ["The refined search results would be more accurate and you will be able to see more related results in higher ranked samples.",
            "Please mark more videos as \"related\" and repeat the refinement process for targeted event activity.",
            "You can use reset button to forget all queries and adjudications when you want to start again with another target event"]
            ]
        ]
    }
]
%}

{% block head_scripts %}

<script>
    var shiftWindow = function() { scrollBy(0, -50) };
    window.addEventListener("hashchange", shiftWindow);
    function load() { if (window.location.hash) shiftWindow(); }
</script>

<style>
    .topicimage {
        height:350px;
        margin:20px;
        /*border-radius:10px;*/
    }

    .topictext {
     font-size: 130%!important;
    line-height: 150%!important;
    }
</style>


{% endblock %}

{% block body_content %}

    <div class="container">

    <div class="row">
        <h1 id="menu"> User guides for SMQTK </h1>
        <p> Please select a topic </p>
        <ul>
            <li> <h4> <a href="#videos"> Watch tutorial videos </a> </h4></li>
            {% for achapter in help %}
            <li> <h4> <a href="#{{achapter.name}}"> {{achapter.label}} </a> </h4></li>
            {% endfor %}
        </ul>

        <h2> <br> </h2>
        <h2 id="videos"> Watch tutorial videos </h2>
        <h2> <br> </h2>

        <div class="row">
            <div class="span5">
                <video height="300px" controls loop>
                    <source src="/vid/triage.webm" type="video/webm" preload="metadata"> </source>
                    <source src="/vid/triage_v4.ogv" type="video/ogg" preload="metadata"> </source>
                </video>
                <h3> Event triage tutorial</h2>
            </div>
            <div class="span5">
                <video height="300px" controls loop>
                    <source src="/vid/iqr.webm" type="video/webm" preload="metadata"> </source>
                    <source src="/vid/iqr_v4.ogv" type="video/ogg" preload="metadata"> </source>
                </video>
                <h3> Iterative query refinement tutorial</h2>
            </div>
        </div>
        <br/>
        <div class="row">
            <a href="#menu"> back to menu </a>
            <hr>
        </div>


        {% for achapter in help %}
            <h2><br></h2>
            <h2><br></h2>
            <div class="row">
                <h2 id="{{achapter.name}}"> {{achapter.label}} </h2>
                <table class="span10">
                {% for item in achapter.topics %}
                <tr class="topictext">
                    {% set left = loop.cycle(1,0) %}

                    {% if left == 0 %}
                        <td width="50%">
                            <ul>
                                {% for bullet in item[1] %}
                                    <li> {{bullet}} </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td width="50%"> <img src="/img/{{achapter.name}}/{{achapter.name}}{{ item[0] }}.png" class="topicimage"></td>
                    {% else %}
                        <td width="50%"> <img src="/img/{{achapter.name}}/{{achapter.name}}{{ item[0] }}.png" class="topicimage"></td>
                        <td width="50%">
                            <ul>
                                {% for bullet in item[1] %}
                                    <li> {{bullet}} </li>
                                {% endfor %}
                            </ul>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </table>
            </div>
            <div class="row">
                <a href="#menu"> back to menu </a>
                <hr>
            </div>

        {% endfor %}
    </div>

{% endblock body_content %}
