{% extends "base.html" %}

{% block body_content %}

<div class="row-fluid">
    <div class="span1"></div>
    <div class="span11">
        <h1> Experimental demos </h1>
    </br>
        <ul>
            <li> <a href="vcdi"> VCD exploration interface </a>
            <li> <a href="queryexpansion"> Query expansion </a>
            <li> <a href="clusters/"> Clustering </a>
            <li> <a href="clusters/random_frame?clusterid=75000&gridx=9&gridy=6&img=true?1371576584213"> Image soup </a>
            <li> <a href="zero_shot"> Zero shot learning </a>
            <li> <a href="rangy"> Range selection </a>
            <li> <a href="hovertest"> Hover clip viewer </a>

        </ul>
    </div>
</div>

{% endblock %}
