{# Copied from other projects #}

{% extends "base.html" %}
{% set active_page = "login" %}

{% block body_content %}

<div class="container">
    <div class="auth-form-header">
        <h1>Sign in</h1>
    </div>
    <form class="form-horizontal"  accept-charset="UTF-8" action="/login.passwd" method="post">
        <div class="control-group">
            <label for="login_field"> username </label>
            <input autocapitalize="off" autofocus="autofocus" id="login_field" name="login" tabindex="1" type="text" />
        </div>
        <div class="control-group">
            <label for="password"> Password <!--a href="/sessions/forgot_password">(forgot password)</a--> </label>
            <input autocomplete="disabled" class="input-block" id="password" name="passwd" tabindex="2" type="password" />
        </div>
        <div class="control-group">
            <input type="hidden" name="next" value="{{next}}">
            <input class="btn" name="commit" tabindex="3" type="submit" value="Sign in" />
        </div>
    </form>
</div>
{% endblock body_content %}
