{% extends "base.html" %}

{% block head_scripts %}

<style type="text/css">

</style>

<script>

// Initialize
$(document).ready(function()
    {
    });

</script>
{% endblock head_scripts %}

{% block body_content %}

<div class="container-fluid">
    <div class="row-fluid">
        <h1> Representative images according to category </h1>
        {{output | safe}}
    </div>


    <div class="row-fluid">
        <div class="span12">
            {% for kit in kits %}
                <h3>{{ kit.name }} </h3>
                {% for rank in kit.ranks %}
                    <div class="row-fluid">
                            <div class="span1">
                                <br/>
                                <br/>
                                &nbsp# {{rank.label}}.
                            </div>

                        {% for image in rank.images %}
                            <div class="span2">
                                <center>
                                    <img src="{{image.src}}"> <br/>
                                    {{image.cat}}&nbsp{{image.time}}
                                 </center>
                            </div>
                        {% endfor %}
                    </div>
                    </br>
                {% endfor %}
                </br>
                </br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
