
{% extends "base.html" %}
{% set active_page = "triage" %}

{% block head_scripts %}

<style>
    .filmstrip {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 140px; /* give it enough space for the images and the scrollbar, if present */
    }

    ul.imageRow {
        width: 0px; /*width of all of your images plus the margins/padding you use*/
        height:140px;
    }

    ul.imageRow li {
        float: left;
        display: block;
        padding: 7px;
        margin: 0px;
        background-color: #fff;
    }

    .selectframe_timeline {
        background-color:red!important;
        display:block!important;
    }

    .selectframe_text {
        background-color:orange!important;
        display:block!important;
    }

    .hiddenframe {
        display:none!important;
    }


    ul.imageRow li:hover {
        background-color:#bef;
    }

    .hoverclip {
        width: 200px;
        height:150px;
        background: transparent url(/data/HVC758699preview.jpg) 0px 0px no-repeat;
        float: left
    }

    .triageClipEvidences {
        float: left;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .bar {
      fill: steelblue;
    }

    /* Modal dialog */
    #myModal {
      /*width: 1000px;
      height: 600px;*/
      width: 90%;
      height:90%;
      left: 0px;
      right: 0px;
      bottom: 20px;
      top: 20px;
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      overflow: auto;
    }

    .modal-header {
        background-color:green;
        button {
        font-size:30px;
        }
    }

   .modal-body {
        overflow-x: auto;
        height: 100%;
        max-height:89%;
    }


    /* Video */
    video {
        width: 100%;
    }

    /** Text view */
    .clipAttributes {
        display: inline-block;
    }

    /** Timeline view */
    .triageTimeLineView {
        min-height: 200px;
        max-height: 200px;
        height: 200px;
        width: 850px;
    }

    .selected {
        fill: orange;
        color: orange;
        opacity: 1.0;
    }

    .selectedStandalone {
        fill: red;
        color: red;
        opacity: 1.0;
    }

    .defocus {
        opacity: 0.6;
    }

    .plot {
        fill: rgba(250, 250, 255, 0.6);
    }

    #clipEvidences {
        width: 100%;
    }

    .evidence-group ul {
        list-style-type: none;
    }

    .evidence-group ul li {
        background: none;
        background-color: #EDE1E5;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: 2px;
        margin-right: 2px;
        font-size:200%;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        border: 1px solid #CAD8F3;
    }

</style>

<!-- Project specific JS code -->
<script src="/js/timelineView.js" type="text/javascript"></script>
<script src="/js/textView.js" type="text/javascript"></script>
<script src="/js/videoPlayer.js" type="text/javascript"></script>
<script src="/js/triage.view.standalone.js" type="text/javascript"></script>

<script>

    $(document).ready(function()
        {
        video_url_prefix = "{{video_url_prefix }}";

        var clipid = "{{triage_info.clip}}";
        var score = parseFloat("{{triage_info.score}}");
        var rank = parseInt("{{triage_info.query.rank}}");
        var kit_text = "{{triage_info.kit_text}}";
        var kit = parseInt("{{triage_info.query.kit}}");
        var duration = parseFloat("{{triage_info.duration}}");
        var training = "{{triage_info.training}}";

        // Initialize the triage_view
        var tv = new TriageViewStandalone($("#triageContainer"), {
            "clip" : clipid,
            "score" : score,
            "rank" : rank,
            "kit_text" : kit_text,
            "kit" : kit,
            "duration" : duration,
        });

        if(rank > 1) {
            $("#prev").prop("href","/triage_info_view_from_training?training=" + training + "&kit=" + kit + "&rank=" + (rank-1));
            $("#prev").removeClass('disabled');
        } else {
            $("#prev").addClass('disabled');
        }

            $("#next").prop("href","/triage_info_view_from_training?training=" + training + "&kit=" + kit + "&rank=" + (rank+1));
       });

</script>


{% endblock %}

{% block body_content %}

<div class="container-fluid">
    <div class="row-fluid">
        <a id="prev" class="btn">Prev</a>
        <span class="rank"> <b> </b></b?>Rank: {{triage_info.query.rank}} </b> </span>
        <a id="next" class="btn">Next</a>
    </div>
    <br/>
    <div class="row-fluid">
        <div id="triageContainer" class="span12">
        </div>
    </div>
</div>

{% endblock %}
