{% extends "base.html" %}
{% set active_page = "search" %}

{% block head_scripts %}
    {{super()}}

    <!-- Flow.js -- for file uploads -->
    <!--<script src="/js/flow.min.js"></script>-->
    <script type="text/javascript" src="static/js/flow.js"></script>

    <!-- Leaflet.js -- for mapping functionality -->
    <link rel="stylesheet" type="text/css" href="static/css/leaflet.css">
    <script type="text/javascript" src="static/js/leaflet.js"></script>

    <!-- Leaflet.draw.js -- for interactive geo-filtering -->
    <link rel="stylesheet" type="text/css" href="static/css/leaflet.draw.css">
    <script type="text/javascript" src="static/js/leaflet.draw.js"></script>

    <!-- Custom Search stuff -->
    <link rel="stylesheet" type="text/css" href="static/css/search.css"/>
    <script type="text/javascript" src="static/js/search.js"></script>

    <script>
        $(document).ready(function() {

            //
            // Flow initialization -- File uploading interaction
            // TODO: This should be objectified in JS (see IQR results stuff)
            //
            var flow = new Flow({
                target: '_upload',
                // 1 for serial debugging, may be higher for production
                simultaneousUploads: 3
            });

            // Notify if Flow is not supported
            if (!flow.support)
            {
                alert_error("Flow is not supported in current browser");
                return;
            }

            // Association from FlowFile ID to FileProgressIndicator for that
            // object.
            var ffid_fpi_map = {};

            // Assign flow drop and browse locations
            flow.assignDrop($(".flow-drop")[0]);
            ////noinspection JSCheckFunctionSignatures
            //flow.assignBrowse($(".flow-browse-folder")[0], false, false);
            //noinspection JSCheckFunctionSignatures
            flow.assignBrowse($(".flow-browse")[0], true, false);

            // Error message forwarding
            flow.on("error", function(message, file) {
                alert_error("[Flow] ERROR: (" + file.name + ") " + message);
                return true;
            });

            flow.on("fileAdded", function(file, event){
                // TODO: Reject the file if its not a valid image or MP4?

                ffid_fpi_map[file.uniqueIdentifier] =
                        new FileProgressIndicator($('#upload_progress'), file);
                //alert_info("[Flow] File " + file.name + " added for upload "
                //                + "(ID: " + file.uniqueIdentifier + "). " +
                //                "Relpath: " + file.flowRelativePath);
            });

            // DEBUG
            flow.on("filesSubmitted", function(array, event) {
                //alert_info("[Flow] Uploading files");
                flow.upload();
            });

            // This would work by creating a map from ID to progress obj map,
            // and adding an update to
            flow.on("fileProgress", function (file) {
                // Update file's associated progress indicator element
                ffid_fpi_map[file.uniqueIdentifier].update();
            });

            // DEBUG
            flow.on("fileSuccess", function (file, message) {
                alert_success("[Flow] Success uploading file '" + file.name + ": "
                        + message);
                delete ffid_fpi_map[file.uniqueIdentifier];
            });

            flow.on("fileError", function(file, message) {
                alert_error("[Flow] Error uploading file '" + file.name + ": "
                        + message);
                delete ffid_fpi_map[file.uniqueIdentifier];
            });


            //
            // Initialize an IQR Session and view for the user, displaying a
            // wait message while loading session.
            //
            var iqr_sess_spinny = new SpinnyWait($('#iqr-spinny-wait'));
            iqr_search_results = null;
            iqr_sess_spinny.on("[[ Loading IQR Session ]]");
            $.ajax({
                url: "_check_iqr_session",
                dataType: 'json',
                success: function (data) {
                    iqr_sess_spinny.off();
                    if (!data.success) {
                        alert_error("Failed to start IQR Session: "
                                + data.message);
                    }
                    else {
                        //alert_success("IQR Session loaded: " + data.message);
                        $('.flow-drop').show();
                        iqr_search_results = new IqrView($('#iqr_view_container'));
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    iqr_sess_spinny.off();
                    alert_error("Failed to load IQR Session: " +
                               "(" + textStatus + ") " + errorThrown);
                }
            });
        }); // end $(document).ready()
    </script>

{% endblock head_scripts %}

{% block body_content %}
    <div id="iqr-spinny-wait">
    <div class="flow-drop"
         ondragenter="jQuery(this).addClass('flow-dragover');"
         ondragend="jQuery(this).removeClass('flow-dragover');"
         ondrop="jQuery(this).removeClass('flow-dragover');">
        To see the search, drag & drop image files here<!--,-->
        <!--<a class="flow-browse-folder"-->
           <!--style="text-decoration: underline;">-->
            <!--select a folder-->
        <!--</a>-->
        or
        <a class="flow-browse"
           style="text-decoration: underline;">
            select one or more files
        </a>.
    </div>
    </div>

    <div id="upload_progress"></div>

    <hr>

    <div id="iqr_view_container"></div>

{% endblock body_content %}