.im-image-area
    overflow-x hidden

.im-details
  display inline-block
  padding 6px 12px
  margin-bottom 0
  vertical-align middle
  cursor pointer


.im-actions
    padding-top 30px

img.im-image-thumbnail
    height 100px !important

img.im-image-detail
    max-height 100%
    max-width 100%
    display block
    margin 0 auto

.im-caption
    height 70px
    overflow hidden
