{% extends "base.html" %}
{% set active_page = "about" %}
{% block head_scripts %}
{{super()}}
        <script>
            $(document).ready(function() {
                $("#clearad").click(function(){
                           console.log("Clearing local storage");
                           localStorage.clear();
                        });

            });

        </script>
{% endblock head_scripts %}

{% block body_content %}

    <div class="container">

    <div class="row">
        <div class="span10">
            <h1> Welcome to SMQTK ! </h1>
            <table class="table table-bordered table-hover">
                <tr> <td> Version </td> <td> {{git}} </td></tr>
                <tr> <td> Host </td> <td> {{host}} </td></tr>
                <tr> <td> Kernel Timestamp </td> <td> {{kernel_timestamp}} </td></tr>
                <tr> <td> Current User </td> <td> {{session["user"]}} </td></tr>
                <tr> <td> Support email </td> <td> GIVE_ME_AN@EMAIL.com</td></tr>

                <tr> <td> <button id="clearad"> Clear Adjudication </button> </td> <td>  </td></tr>

            </table>
        </div>
    </div>

{% endblock body_content %}
