<html>

<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>


<script>

    'use strict';
    /* App Controllers */

    var dashboardApp = angular.module('dashboardApp', []);

    dashboardApp.controller('dashboardCtrl', function DashboardCtrl($scope, $http) {
        $scope.workers = [];
        $scope.tasks = [];
        $scope.data = null;
        $scope.statuses = [];


        $scope.submit = function() {

            $http({
                  method: "post",
                  url: "/task",
                  data : $.param({time: 15}),
                  headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            }).
                success(function(data, status) {
                    $scope.statuses.push(data["status"]);
                }).
                error(function(data, status) {
                    alert("failed..")
//                    $scope.data = data || "Request failed";
//                    $scope.status = status;
                });
        };


        $scope.fetch = function() {

            $http({method: "get", url: "/status?q=both"}).
                success(function(data, status) {
                    if(data.workers === null) {
                        $scope.workers = "Looks like no worker is alive right now !";
                    }
                    else {
                        $scope.workers = data.workers.stats;
                        $scope.tasks = data.tasks;
                        $scope.data = data;
                    }
                }).
                error(function(data, status) {
                    $scope.data = data || "Request failed";
                    $scope.status = status;
                });
        };
    });

    // Define angular controller
    $(document).ready(function() {


    });

</script>

</head>
<body>

    <div ng-app="dashboardApp">
    <div ng-controller="dashboardCtrl">
        <button ng-click="fetch()"> Refresh </button>
        <h1> Celery Dashboard </h1>
        <h2> Data </h2>
        {{ data }}
        <h2> Workers </h2>

        <ul ng-repeat="worker in workers">
            <li> {{worker}} </li>
        </ul>

        <h2> Tasks </h2>

        <ul ng-repeat="worker in tasks">
            <li> {{worker}} </li>
        </ul>

        <h2> Tasks </h2>

        <ul ng-repeat="worker in statuses">
            <li> <a href="{{worker}}"> {{worker}} </a> </li>
        </ul>

        <button ng-click="submit()"> Add task </button>

    </div>

    <!--br>
    <h2> Workers - {{ workers | length }}  </h2>
    <ul>
        {% for a_worker in workers %}
        <li> {{ a_worker | string }} </li>
        {% else %}
        No workers !
        {% endfor %}
    </ul>
    <h2> Tasks - {{ tasks | length }}</h2>
        {% for a_worker in tasks %}
        <li> {{a_worker }}</li>
        {% else %}
        No workers !
        {% endfor %}
    <ul>

    </ul!-->

</body>
</html>
