html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map {
  height: calc(100% - 54px);
}

footer {
  padding: 30px 0;
}

.gs-fill-vertical {
    width: 100%;
    height: 100%;
}

.gs-geospace {
  top: 54px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.gs-image-space {
  top: 54px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.dialog-box {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: auto;
  opacity: 0.9;
  background: #eee;
  word-wrap: break-word;
  z-index: 300;
}


#images {
  padding: 15px;
}

.img-fluid {
  width: 90%;
  padding: 15px;
  margin: 15px;
  background: lightgray;
  border-radius: 10px;
}

.hd-highlight {
  background: black;
  color: white;
}

.img-blur {
  -webkit-filter: blur(5px);
}

.img-clear {
  -webkit-filter: none;
}

.gs-header-wrapper {
  background-color: #474747;
  height: 54px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.gs-brand {
  float: left;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 20px;
}

.gs-search-form {
  float: left;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gs-search-indicator {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.gs-date-display {
  background-color: #474747;
  color: white;
  left: 0%;
  top: 74px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  margin-left: 10px;
  font-family: "Courier New", Courier, monospace;
}

.gs-player-panel {
  width: 70%;
  left: 0%;
  bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 20px;
  position: fixed;
  opacity: 0.8;
}

.gs-form {
  opacity: 1.0;
}

.gs-slider {
  flex-grow: 4;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.gs-inilne-block {
  display: inline-block;
}

.gs-container {
  display: flex;
  flex-direction: row;
}

.gs-player {
  top: 90%;
  bottom: 0%;
}

.gs-fill {
  height: 100%;
}

a {
  color: white;
}